services:
  mongo:
    image: mongo:latest
    container_name: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: Admin123
      MONGODB_INITDB_DATABASE: app_DB
    ports:
      - '27018:27017'
    volumes:
      - ./addons/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
      - data:/data/db
      - ../backup:/backup 
    networks:
      - app_network
    command: mongod --bind_ip_all
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: "3g"


  redis:
    image: redis:latest
    container_name: redis
    command: ["redis-server", "--requirepass", "Admin123"]
    ports:
      - "6380:6379"
    volumes:
      - cache:/data/cache
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: "200m"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: app
    container_name: backend
    restart: unless-stopped
    env_file: .env
    ports:
      - '${PORT}:${PORT}'
    volumes:
      - ./src:/home/node/app/src
      - ./uploads:/home/node/app/uploads
    command: yarn start:prod
    depends_on:
      - mongo
      - redis
    networks:
      - app_network
    deploy:
      resources:
        limits:
          memory: '2g'


volumes:
  backup:
    driver: local
  cache:
    driver: local
  logs:
    driver: local
  data:     
    driver: local

networks:
  app_network:
    driver: bridge